<!DOCTYPE html>
<html>
<meta charset="utf-8">
<style>

.node {
	stroke: #fff;
	stroke-width: 1.5px;
}

.link {
	stroke: #999;
	stroke-opacity: .6;
}

</style>

<body>
<p style="font-size:40px; text-align: center;">PTT 文章推薦</p>

<center><form id = "PttID">
Ptt Id:<input type="text" name="Id_name" value="">
</form>
<button onclick="get_result()">Search Article</button></center>
<button id="relation_graph" onclick="get_d3()">See your relation graph</button>

<p id="demo"></p>
<p id="d3_graph"></p>
<p id="result_article"></p>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
	function get_d3(){
		var x = document.getElementById("PttID");
		var text = "";
		for(var i=0; i<x.length; i++)
		text += x.elements[i].value;
		text="recommend/relation/JCC";
		var width = 960,
			height = 500;

		var color = d3.scale.category20();

		var force = d3.layout.force()
				.charge(-120)
				.linkDistance(30)
				.size([width, height]);

		var svg = d3.select("body").append("svg")
				.attr("width", width)
				.attr("height", height);

		d3.json("recommend/relation/JCC/", function(error, graph) {
			force
				.nodes(graph.nodes)
				.links(graph.links)
				.start();

			var link = svg.selectAll(".link")
					.data(graph.links)
				.enter().append("line")
					.attr("class", "link")
					.style("stroke-width", function(d) { return Math.sqrt(d.value); });

			var node = svg.selectAll(".node")
					.data(graph.nodes)
				.enter().append("circle")
					.attr("class", "node")
					.attr("r", 5)
					.style("fill", function(d) { return color(d.group); })
					.call(force.drag);

			node.append("title")
					.text(function(d) { return d.name; });

			force.on("tick", function() {
				link.attr("x1", function(d) { return d.source.x; })
						.attr("y1", function(d) { return d.source.y; })
						.attr("x2", function(d) { return d.target.x; })
						.attr("y2", function(d) { return d.target.y; });

				node.attr("cx", function(d) { return d.x; })
						.attr("cy", function(d) { return d.y; });
			});
		});
	}		//function get_d3()

	function get_result(){
		var x = document.getElementById("PttID");
		var text = "";
		for(var i=0; i<x.length; i++)
			text += x.elements[i].value;
		var posting = $.ajax({
			type: "POST",
			url: "recommend/relation/",
			data: "JCC",
			//success: success,
			dataType: "json"
		});
		$.post("recommend/relation/", function(data){
			alert(data);
		});
		//document.getElementById("demo").innerHTML="third";
	}
</script>
</body>
</html>